.status-bar {
    border-bottom: 1px solid beige;
}



.status-bar .status-bar__menu {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.status-bar__column .menu-list i {
    margin-left: 10px;
    opacity: 0.5;
}
