.movie-list {
   display: flex;
    width: 100%;
    height: 550px;
    margin-top: 20px;
    margin-left: 30px;
    
}
.movie-list .movie-list__1 {
    display: inline block;
}
.movie-list__1 {
    position: relative;
    display: inline  block;
    width: 20%;
}
.movie-list__1 p:nth-child(1) {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
   
}
.movie-list__1 p:nth-child(2) {
    margin-bottom: 5px;
   
}
.movie-list__1 p:nth-child(3) {
    margin-bottom: 30px;
    opacity: 0.4;
   
}
.movie-list__contents p strong {
    color: blue;
    border: 2px solid blue;
    border-radius: 10px;
}
.movie-list__contents p spen {
    color: tomato;
    font-weight: bolder;
}
